html {
  background-color: rgb(232, 250, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.App {
  padding-top: 5rem;
}

#home-page {
  background-image: url('./assets/pattern.svg');
}

#componentsCustomMargin {
  margin-left: 16.666666667%;
}